<a href="https://colab.research.google.com/github/KAMBLE/ML-with-Pyspark/blob/main/ML_Pipeline_in_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configure Pyspark in Colab

In [5]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-eu.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz

### for permanent colab library installation

In [2]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')
nb_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/Colab Notebooks', nb_path)
sys.path.insert(0,nb_path)

Mounted at /content/drive

In [4]:
!pip install --target=$nb_path findspark

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/fc/2d/2e39f9a023479ea798eed4351cd66f163ce61e00c717e03c37109f00c0f2/findspark-1.4.2-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [ ]:
!tar -xvzf '/content/drive/MyDrive/SPARK/spark-3.1.1-bin-hadoop2.7.tgz'

In [7]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.2-bin-hadoop2.7"

In [8]:
import findspark
findspark.init("/content/spark-3.1.1-bin-hadoop2.7")
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [9]:
spark

# Build ML pipeline in pyspark

In [39]:
# read a csv file
my_data = spark.read.csv('/content/Employee-Attrition.csv',header=True)

# see the default schema of the dataframe
my_data.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: string (nullable = true)
 |-- EmployeeNumber: string (nullable = true)
 |-- EnvironmentSatisfaction: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: string (nullable = true)
 |-- MonthlyRate: string (nullable = true)
 |-- NumCompaniesWorked: string (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: string (nullable = true)
 |-- PerformanceRating: string (nullable = true)
 |-- RelationshipSatisfaction: string (nullable = true)
 |-- StandardHours: string (nullable = true)
 |-- StockOptionLevel: string (nullable = true)
 |-- TotalWorkingYears: string (nullable = true)
 |-- TrainingTimesLastYear: string (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- YearsAtCompany: string (nullable = true)
 |-- YearsInCurrentRole: string (nullable = true)
 |-- YearsSinceLastPromotion: string (nullable = true)
 |-- YearsWithCurrManager: string (nullable = true)

In [11]:
#check shape of data 
(my_data.count() , len(my_data.columns))

(1470, 35)

In [12]:
#describe data 
my_data.describe().show()

+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|summary|               Age|Attrition|BusinessTravel|         DailyRate|     Department|DistanceFromHome|         Education|  EducationField|EmployeeCount|   EmployeeNumber|EnvironmentSatisfaction|Gender|        HourlyRate|    JobInvolvement|          JobLevel|             JobRole|   JobSatisfaction|MaritalStatus|    MonthlyIncome|       MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike|  PerformanceRating|RelationshipSatisfaction|StandardHours|  StockOptionLevel| TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|    YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|  count|              1470|     1470|          1470|              1470|           1470|            1470|              1470|            1470|         1470|             1470|                   1470|  1470|              1470|              1470|              1470|                1470|              1470|         1470|             1470|              1470|              1470|  1470|    1470|              1470|               1470|                    1470|         1470|              1470|              1470|                 1470|              1470|              1470|              1470|                   1470|                1470|
|   mean|36.923809523809524|     null|          null| 802.4857142857143|           null|9.19251700680272| 2.912925170068027|            null|          1.0|1024.865306122449|      2.721768707482993|  null| 65.89115646258503|2.7299319727891156|2.0639455782312925|                null|2.7285714285714286|         null|6502.931292517007|14313.103401360544|2.6931972789115646|  null|    null|15.209523809523809| 3.1537414965986397|      2.7122448979591836|         80.0|0.7938775510204081|11.279591836734694|   2.7993197278911564|2.7612244897959184|7.0081632653061225| 4.229251700680272|     2.1877551020408164|    4.12312925170068|
| stddev| 9.135373489136729|     null|          null|403.50909994352804|           null|8.10686443566608|1.0241649445978718|            null|          0.0|602.0243348474752|     1.0930822146350003|  null|20.329427593996176|0.7115611429632297|1.1069398989351202|                null|1.1028461230547213|         null|4707.956783097992| 7117.786044059972|2.4980090060707463|  null|    null|3.6599377165396385|0.36082352460434397|      1.0812088864403517|          0.0|0.8520766679308381| 7.780781675514995|   1.2892706207958466|0.7064758297141507| 6.126525152403571| 3.623137034670627|     3.2224302791379693|  3.5681361205404363|
|    min|                18|       No|    Non-Travel|              1001|Human Resources|               1|                 1| Human Resources|            1|                1|                      1|Female|               100|                 1|                 1|Healthcare Repres...|                 1|     Divorced|            10008|             10007|                 0|     Y|      No|                11|                  3|                       1|           80|                 0|                 0|                    0|                 1|                 0|                 0|                      0|                   0|
|    max|                60|      Yes| Travel_Rarely|               999|          Sales|               9|                 5|Technical Degree|            1|              999|                      4|  Male|                99|                 4|                 5|Sales Representative|                 4|       Single|             9998|              9983|                 9|     Y|     Yes|                25|                  4|                       4|           80|                 3|                 9|                    6|                 4|                 9|                 9|                      9|                   9|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+

In [13]:
#show top 5 rows 
my_data.show(n=5)

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 5 rows

In [14]:
# import sql function pyspark
import pyspark.sql.functions as f

# null values in each column
data_agg = my_data.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in my_data.columns])
data_agg.show()

+---+---------+--------------+---------+----------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+--------------+---------+----------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|  0|        0|             0|        0|         0|               0|        0|             0|            0|             0|                      0|     0|         0|             0|       0|      0|              0|            0|            0|          0|                 0|     0|       0|                0|                0|                       0|            0|               0|                0|                    0|              0|             0|                 0|                      0|                   0|
+---+---------+--------------+---------+----------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+

In [15]:
# value counts of Batsman_Name column
my_data.groupBy('BusinessTravel').count().show()

+-----------------+-----+
|   BusinessTravel|count|
+-----------------+-----+
|Travel_Frequently|  277|
|       Non-Travel|  150|
|    Travel_Rarely| 1043|
+-----------------+-----+

In [16]:
my_data.groupBy('Department').count().show()

+--------------------+-----+
|          Department|count|
+--------------------+-----+
|               Sales|  446|
|Research & Develo...|  961|
|     Human Resources|   63|
+--------------------+-----+

## Encoding Variable

In [40]:
from pyspark.ml.feature import StringIndexer

#create object StringIndexer class and specify input and ouput column 
SI_BTravel = StringIndexer(inputCol='BusinessTravel',outputCol='BTravel_Index')
SI_Department = StringIndexer(inputCol='Department',outputCol='Department_Index')

# transform the data
my_data = SI_BTravel.fit(my_data).transform(my_data)
my_data = SI_Department.fit(my_data).transform(my_data)

#my_data.select('BusinessTravel','BTravel_Index','Department','Department_Index')

In [41]:
my_data.select('BusinessTravel','BTravel_Index','Department','Department_Index').show(20)

+-----------------+-------------+--------------------+----------------+
|   BusinessTravel|BTravel_Index|          Department|Department_Index|
+-----------------+-------------+--------------------+----------------+
|    Travel_Rarely|          0.0|               Sales|             1.0|
|Travel_Frequently|          1.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|Travel_Frequently|          1.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|Travel_Frequently|          1.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|Travel_Frequently|          1.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
|       Non-Travel|          2.0|Research & Develo...|             0.0|
|    Travel_Rarely|          0.0|               Sales|             1.0|
|    Travel_Rarely|          0.0|Research & Develo...|             0.0|
+-----------------+-------------+--------------------+----------------+
only showing top 20 rows

In [25]:
from pyspark.ml.feature import OneHotEncoder

In [43]:
OHE = OneHotEncoder(inputCols=['BTravel_Index','Department_Index'],outputCols=['BTravel_OHE','Department_OHE'])
# transform the data
my_data = OHE.fit(my_data).transform(my_data)

my_data.select('BusinessTravel','BTravel_Index','BTravel_OHE','Department','Department_Index','Department_OHE').show(20)

+-----------------+-------------+-------------+--------------------+----------------+--------------+
|   BusinessTravel|BTravel_Index|  BTravel_OHE|          Department|Department_Index|Department_OHE|
+-----------------+-------------+-------------+--------------------+----------------+--------------+
|    Travel_Rarely|          0.0|(2,[0],[1.0])|               Sales|             1.0| (2,[1],[1.0])|
|Travel_Frequently|          1.0|(2,[1],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|Travel_Frequently|          1.0|(2,[1],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|Travel_Frequently|          1.0|(2,[1],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|Travel_Frequently|          1.0|(2,[1],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
|       Non-Travel|          2.0|    (2,[],[])|Research & Develo...|             0.0| (2,[0],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|               Sales|             1.0| (2,[1],[1.0])|
|    Travel_Rarely|          0.0|(2,[0],[1.0])|Research & Develo...|             0.0| (2,[0],[1.0])|
+-----------------+-------------+-------------+--------------------+----------------+--------------+
only showing top 20 rows

In [44]:
my_data.columns

['Age',
 'Attrition',
 'BusinessTravel',
 'DailyRate',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeNumber',
 'EnvironmentSatisfaction',
 'Gender',
 'HourlyRate',
 'JobInvolvement',
 'JobLevel',
 'JobRole',
 'JobSatisfaction',
 'MaritalStatus',
 'MonthlyIncome',
 'MonthlyRate',
 'NumCompaniesWorked',
 'Over18',
 'OverTime',
 'PercentSalaryHike',
 'PerformanceRating',
 'RelationshipSatisfaction',
 'StandardHours',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsSinceLastPromotion',
 'YearsWithCurrManager',
 'BTravel_Index',
 'Department_Index',
 'BTravel_OHE',
 'Department_OHE']

## vector assembler

In [ ]:
 # Change column type
# df_new = my_data.withColumn("DailyRate", my_data["DailyRate"].cast(IntegerType()))
# df_new.printSchema()

In [49]:
from pyspark.ml.feature import VectorAssembler

# specify the input and output columns of the vector assembler
assembler = VectorAssembler(inputCols=['Department_Index',
                                       #'DistanceFromHome',
                                       #'Education',
                                       #'EmployeeCount',
                                       #'MonthlyIncome',
                                       ],
                           outputCol='vector')

# fill the null values
my_data = my_data.fillna(0)

# transform the data
final_data = assembler.transform(my_data)

# view the transformed vector
final_data.select('vector').show()

+------+
|vector|
+------+
| [1.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [0.0]|
| [1.0]|
| [0.0]|
+------+
only showing top 20 rows